<h2>New Movie</h2>


<form action="/create_mov">
   <input type="text" name="url" placeholder="Url of Poster of the Movie">
   <input type="text" name="title2" placeholder="Movie Title">
   <input type="text" name="detail" placeholder="Movie Details">
  <input type="submit">
</form>